{% extends "base_admin.html" %}

{% block content %}

<style>

.report-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.title{
    font-size:34px;
    font-weight:700;
    color:#0f172a;
}

.subtitle{
    color:#64748b;
}

/* CARD */
.report-card{
    background:white;
    border-radius:24px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

/* TABLE */
.table thead{
    background:#f8fafc;
}

.table th{
    border:none;
    padding:16px;
}

.table td{
    padding:18px 16px;
}

</style>

<div class="report-header">

    <div>

        <h1 class="title">Laporan</h1>

        <p class="subtitle">
            Laporan seluruh aktivitas peminjaman fasilitas.
        </p>

    </div>


<div class="report-card">

    <table class="table align-middle">

        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Fasilitas</th>
                <th>Tanggal</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>

            {% for l in laporan %}

            <tr>

                <td>{{ loop.index }}</td>

                <td>{{ l.nama_lengkap }}</td>

                <td>{{ l.nama_fasilitas }}</td>

                <td>{{ l.tanggal_pinjam }}</td>

                <td>{{ l.status }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}