{% extends "base_admin.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow-lg border-0 rounded-4">

    <div class="card-header bg-primary text-white">
        <h4>Data Pengembalian Admin</h4>
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fasilitas</th>
                        <th>Tanggal</th>
                        <th>Kondisi</th>
                        <th>Status</th>
                        <th>Catatan</th>
                        <th>Foto</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody>

                {% for d in data %}

                <tr>

                    <td>{{ d.id }}</td>
                    <td>{{ d.nama_fasilitas }}</td>
                    <td>{{ d.tanggal_pengembalian }}</td>
                    <td>{{ d.kondisi_fasilitas }}</td>

                    <td>
                        {% if d.status_pengembalian == 'menunggu' %}
                        <span class="badge bg-warning text-dark">Pending</span>

                    {% elif d.status_pengembalian == 'Disetujui' %}
                        <span class="badge bg-success">Disetujui</span>

                    {% elif d.status_pengembalian == 'Ditolak' %}
                        <span class="badge bg-danger">Ditolak</span>

                    {% else %}
                        <span class="badge bg-secondary">Unknown</span>
                    {% endif %}
                    </td>

                    <td>{{ d.catatan_pengembalian }}</td>

                    <td>
                        {% if d.foto_pengembalian %}
                            <img src="{{ url_for('static', filename='uploads/' + d.foto_pengembalian) }}"
                                 width="60">
                        {% else %}
                            -
                        {% endif %}
                    </td>

                    <td>

                        <a href="{{ url_for('approve_pengembalian', id=d.id) }}"
                           class="btn btn-success btn-sm">
                            ACC
                        </a>

                        <a href="{{ url_for('tolak_pengembalian', id=d.id) }}"
                           class="btn btn-danger btn-sm">
                            Tolak
                        </a>

                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

</div>

{% endblock %}